.login-bg{
    
    background-color: rgba(17, 2, 41, 0.611);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.bg-color-form{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.bg-height{
    height: 1000px;
}