
.homepage-bgimage {
    background: url("https://i.ibb.co/PzksQVM/banner.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width:600px) {
    .homepage-bgimage {
        background: url("https://i.ibb.co/PzksQVM/banner.jpg");
        max-height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }